<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FilePath" value="C:\Inetpub\wwwroot\digioz\DigiOz Directory Lister\files"/>
    <add key="RelativePath" value="files"/>
    <add key="FileExtension" value="jpg"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
